<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Logs Site</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <% if (isAuthenticated) { %>
    <li class="nav-item">
      <a class="nav-link" href="/logs">Logs</a>
    </li>
    <% } %> 
    <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign Up</a>
    </li>
  </ul>
</nav>
