<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Forgot Password</h1>
  </div>
<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" required class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    <div id="email-feedback" class="invalid-feedback">
    </div>
  </div>
  <div class="form-group d-none" id="otp-form-group">
    <label for="OTP">OTP</label>
    <input type="text" name="otp" required class="form-control" id="otp" placeholder="Enter OTP">
    <small>Check your email for your OTP.</small>
  </div>
  <div class="form-group d-none" id="password-form-group">
    <label for="NewPassword">New Password</label>
    <input type="password" name="NewPassword" required class="form-control" id="newPassword" placeholder="New Password">
    <label for="ConfirmPassword">Confirm Password</label>
    <input type="password" name="ConfirmPassword" required class="form-control" id="confirmPassword" placeholder="Confirm Password">
  </div>
  <button id='confirm-email' type="button" onclick="submitForm()" class="btn btn-primary">Confirm Email</button>
  <button id='verify-email' type="button" onclick="verifyOtp()" class="btn btn-primary d-none">Verify Otp</button>
  <button id='change-password' type="button" onclick="changePassword()" class="btn btn-primary d-none">Change Password</button>
</form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script type="text/javascript">
    async function submitForm() {
      document.getElementById('exampleInputEmail1').classList.remove("is-invalid");
      document.getElementById('email-feedback').textContent = '';
      
      var email = document.getElementById('exampleInputEmail1').value;

      var res = await fetch('/forgotPassword', {
        method: "POST",
        body: JSON.stringify({email}),
        headers: {
          "Content-Type": "application/json"
        }
      });
      var json = await res.json();
      if("Success" in json) {
        document.getElementById('otp-form-group').classList.remove('d-none');
        document.getElementById('exampleInputEmail1').readOnly = true;
        document.getElementById('confirm-email').classList.add('d-none');
        document.getElementById('verify-email').classList.remove('d-none');
      }
    }

    async function verifyOtp() {
      var email = document.getElementById('exampleInputEmail1').value;
      var otp = document.getElementById('otp').value;

      var res = await fetch('/verifyOtp', {
        method: "POST",
        body: JSON.stringify({email, otp}),
        headers: {
          "Content-Type": "application/json"
        }
      });
      var json = await res.json();
      if("Success" in json) {
        document.getElementById('otp-form-group').classList.add('d-none');
        document.getElementById('verify-email').classList.add('d-none');

        document.getElementById('password-form-group').classList.remove('d-none');
        document.getElementById('change-password').classList.remove('d-none');
      }
    }

    async function changePassword() {
      var email = document.getElementById('exampleInputEmail1').value;
      var newPassword = document.getElementById('newPassword').value;
      var confirmPassword = document.getElementById('confirmPassword').value;

      var res = await fetch('/forgotPasswordComplete', {
        method: "POST",
        body: JSON.stringify({email, newPassword, confirmPassword}),
        headers: {
          "Content-Type": "application/json"
        }
      });
      var json = await res.json();
      if("Success" in json && "RedirectTo" in json) {
        window.location.replace(json.RedirectTo);
      }
    }

</script>

</body>
</html>
